<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <title>Profile</title>
</head>
<body class="profile">
    <section>
    <div id="topList">
        <ul class="noStyle">
            <li> <a href="/">Home</a></li>
            <li>Feed</li>
            <li> <a href="logout">Logout</a></li>
        </ul>
    </div>
    <header class="major align-center">
        <h1>Post your Nodela <%= user.nodellaUsername %> </h1>
</header>

<section>
<!-- Here is where the post will be added -->
</section>

<article class="story">
    
    <form action="/posts/createPost" method="POST">
        <label for="title" class="profileHeader">Title</label>
        <input
            type="text"
            name="title"
            id="push-title"
            minlength="10"
            required
            />
            <br>
        <label for="story" class="profileHeader">My Story</label>
        <textarea  
            name="story" 
            id="push-story" 
            rows="4" cols="4" 
            minlength="10" 
            placeholder="story here" 
            required>
        </textarea> 
    <br>
    <input 
        class="button primary icon solid"
        id="submit"
        type="submit"
        value="Post"/>

    </form>
</article>

<section class="newPost">
    <ul>
      <% if(posts) { %>
      <% posts.forEach(el => { %>
      <!--desperate times call for desperate hr tags. I'm sorry :(-->
      
          <li data-id='<%=el._id%>'> 
           
              <ul>
                <div class="postAuthor"> Author: <%= user.nodellaUsername %></div>
            
                <div class="postTitle"> Title: <%= el.title %>  </div>
    
                <div class="postContent"> Story: <%= el.story %> </div>
        
                <span><%= "Created: " + el.createdAt.toLocaleDateString('en-US') %> </span>
                </ul>
            
                <span><i class="fas fa-trash del"></i>
                </span>                 
          </li>
        
      <% }); %> 
      <% } %>
    
      </ul>
      </section>
    </section>

    
</body>
</html>