<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <title>Story</title>
</head>
<body class="profile">
    <section>
    <div id="topList">
        <ul class="noStyle">
            <li> <a href="/">Home</a></li>
            <li><a href="/feed">Feed</a></li>
            <li> <a href="logout">Logout</a></li>
            <li> <a href="profile">Profile</a></li>
        </ul>
    </div>
    <header class="major align-center">
        <h1><%= post.userName %>'s story </h1>
</header>

<section class="newPost">
    <div class="postAuthor"><%=post.userName %></div>
    <div class="postTitle"> <span class="titleSpan"> <%= post.title %></span>  </div>
    <div class="postContent"><%= post.story %></div>
</section>

<% if (user.nodellaUsername !== 'guest') { %>
    <article class="story">
        <form 
         action="/addComment/<%=post.id %>/?_method=PUT"
         method="POST">
         <textarea
         id="push-story"
         name="comment"
         rows="4" cols="4"
         minlength="10"
         placeholder="Comment Here"
         required></textarea>
         <br>
         <input
            class="button primary icon solid"
            id="submit"
            type="submit"
            value="Comment"/>
         </form>
    </article>


<% } %>

<% if(!post.comments) {%>
    <h2 class="commentsHeader">No Comments</h2>
<% } %>

<% if(post.comments) { %>
    <section class="newPost">
        <h2 class="commentsHeader">Comments</h2>
        <div>
            <% post.comments.forEach((el, index) => { %>
                <li data-id='el._id%>' data-user='<%el.userId%>' class='commentsList'>
                    <h3 class="postAuthor"><%=el.user%></h3>
                    <p class="postContent"><%=el.comment%></p>
                </li>
                <hr class="commentBreak">
            <% }) %>
        </div>
    </section>
    

<% } %>




    <script src="js/main.js"></script>
</body>
</html>